.basics
  .basics__frame
    .basics__frame__box
      .basics__frame__box__title
        %h3 詳細ページ

    .image__Box
      .image__Box__main
        = image_tag @images.first.src.url, {class: 'q'}
      .image__Box__sub
        - @images.each do |image|
          = image_tag image.src.url, {class: 'w'}

    .introduction__box
      .introduction__box__name
        %h3 紹介文
      .introduction__box__comment
        = @dog.introduction

    .table
      %table
        %tbody
          %tr
            %th 名前
            %td
              = @dog.name

          %tr
            %th 種類
            %td
              = @dog.dog_breed.name

          %tr
            %th 年齢
            %td
              = @dog.age.name

          %tr
            %th 性別
            %td
              = @dog.sex.name

          %tr
            %th 健康状態
            %td
              = @dog.condition.name
  .basics__frame
    .basics__frame__link
      .basics__frame__link__box
        - if user_signed_in?
          = link_to "削除する", dog_path(@dog.id), method: :delete,class:"dd"
          = link_to "編集する", edit_dog_path(@dog.id), method: :get,class:"#"
        -# - elsif @dog.buyer_id.present?
        -#   = link_to "売り切れました","#",class:"#"
        -# - else
          -# = link_to "購入画面に進む",dog_buyers_path(@dog),class:"#"

    .comment__box
      %text_area

    .comment__box__note
      %p
        不快なコメントは退会処分になる事があります。