.container
  .container__block

    .container__header
      ヘッダー

    -# 画像タイトル
    = form_with model: @dog, local: true do |f|
      .container__content
        .container__content__photo
          %h3.phototitle__text
            Dog photo
          %p.phototitle__comment
            最大5枚までアップロード
        -# 画像入る場所
        .photobox
          %div#image__input
            = f.fields_for :images do |i|
              = i.file_field :src, accept: "image/*", class: "js-file", date:{index: i.index}
            %button.js-remove
              削除
              .outputbox#preview


      -# 説明
      .container__content
        .container__content__title
          %h3.dog__text
            紹介
          = f.text_area :introduction, class: "introduction__form"

      -# 名前
      .container__content
        .container__content__title
          %h3.dog__text
            名前
          = f.text_field :name, class: "dog__form"

      -# 犬種
      .container__content
        .container__content__title
          %h3.dog__text
            種類
          = f.text_field :dog_breed, class: "dog__form"

      -# 年齢
      .container__content
        .container__content__title
          %h3.dog__text
            年齢
          = f.text_field :age, class: "dog__form"

      -# 性別
      .container__content
        .container__content__title
          %h3.dog__text
            性別
          = f.text_field :sex, class: "dog__form"

      -# 健康状態
      .container__content
        .container__content__title
          %h3.dog__text
            健康状態
          = f.text_field :condition, class: "dog__form"


      -# 登録ボタン
      .container__content
        .container__content__btn
          = f.submit "登録", class: "dog__btn"
