.container
  .container__block

    .container__header

    -# 画像タイトル
    = form_with model: @dog, local: true do |f|
      .container__content
        .a
          .container__content__photo
            %h3.phototitle__text
              Dog photo
            %p.phototitle__comment
              最大4枚までアップロード
              #image-Input__label
                %i.fa.fa-camera
                  カメラをクリックしてアップロード

          -# 画像入る場所
          .photobox#preview
            .image__box#image__input
              = f.fields_for :images do |i|
                = i.file_field :src, accept: "image/*", class: "js-file", date:{index: i.index}, style: 'display: none;'
              -# .outputbox

      -# 説明
      .a
        .container__Content
          .container__content__title
            %h3.dog__text
              紹介
            = f.text_area :introduction, class: "introduction__form"

      -# 名前
      .container__contents
        .container__contents__title
          %h3.dog__text
            名前
          = f.text_field :name, class: "dog__form"

      -# 犬種
      .container__contents
        .container__contents__title
          %h3.dog__text
            種類
          = f.collection_select :dog_breed_id, DogBreed.all, :id, :name, {prompt: "選択してください"}, {class: "dog__form"}
          = @dog.errors.full_messages_for(:dog_breed_id)[0]

      -# 年齢
      .container__contents
        .container__contents__title
          %h3.dog__text
            年齢
          = f.collection_select :age_id, Age.all, :id, :name, {prompt: "選択してください"}, {class: "dog__form"}
          = @dog.errors.full_messages_for(:age_id)[0]

      -# 性別
      .container__contents
        .container__contents__title
          %h3.dog__text
            性別
          = f.collection_select :sex_id, Sex.all, :id, :name, {prompt: "選択してください"}, {class: "dog__form"}
          = @dog.errors.full_messages_for(:sex_id)[0]

      -# 健康状態
      .container__contents
        .container__contents__title
          %h3.dog__text
            健康状態
          = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "選択してください"}, {class: "dog__form"}
          = @dog.errors.full_messages_for(:condition_id)[0]

      -# 登録ボタン
      .container__content
        .container__content__btn
          = f.submit "登録", class: "dog__btn"
