%ul.contents
  %li.content
    %h2.content__head One dogについて
    %ul
      %li
        = link_to "#" do
          会社概要（運営会社）
      %li
        = link_to "#" do
          プライバシーポリシー
      %li
        = link_to "#" do
          利用規約

  %li.content
    %h2.content__head ヘルプ＆ガイド
    %ul
      %li
        = link_to "#" do
          One dogガイド
      %li
        = link_to "#" do
          お知らせ

