.main
  .main__header
    .main__header__left
      .main__header__left__box
        %h2.main__header__left__box__title
          One Dog 
        %h3.main__header__left__box__text

    .main__header__center
      .main__header__center__box
        .main__header__center__box__text


    .main__header__right
      .main__header__right__box
        %ul.main__header__right__box__list
          - if user_signed_in?
            %li.main__header__right__box__list__link
              -# = link_to "マイページ",
              = link_to "ログアウト",destroy_user_session_path, method: :delete, class: "main__header__left__box__text__btn" 
            %li.main__header__right__box__list__link
              = link_to "里親募集Link", new_dog_path, class: "main__header__left__box__text__btn"

          - else
            %li.main__header__right__box__list__link
              = link_to "ログイン", new_user_session_path, class: "main__header__left__box__text__btn"
            %li.main__header__right__box__list__link
              = link_to "新規登録", new_user_registration_path, class: "main__header__left__box__text__btn"


        %ul.main__header__right__box__list
          %li.main__header__right__box__list__link
            %a.main__header__right__box__list__link__(href='#')
              

        %ul.main__header__right__box__list
          %li.main__header__right__box__list__link
            %a.main__header__right__box__list__link__(href='#')

  .top
    .top__image
      = link_to image_tag("fd91d63fa421d122a857dcf597553e80.jpg", class: "top__image", alt: "イメージ画像")

  .dogLists
    最新の募集
    - @dogs.each.with_index(1) do |dog, x|
      - if x <= 5
        .dogList
          = link_to dog_path(dog) do
            %figure.dogList--img
              = image_tag "#{dog.images[0].src}"
